body{
    background-color: var(--skylab-background);
    color: #ffffff;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: var(--skylab-header);
    
    
}
header img{
    margin-left: 100px;
}
header .links .profile{
    display: grid;
    grid-template-columns:1fr 1fr ;
    margin-left: 300px;
    align-items: center;
}

header .links .profile .imgUser img{
    width: 40%;
    border: 3px solid #6D56BA;
    border-radius: 50%;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 55px;
    margin-left: 10px;
    align-items: center;
}
.card{
    justify-content: center;
    background-color: var(--skylab-header);
    height: 440px;
    padding: 66px 20px;
    text-align: center;
    border-radius: 13px;
    transition: 0.1s;
    
}
.card .number{
    margin-bottom: 62px;
    display: flex;
    justify-content: center;
}
.purple .number h1{
    margin-bottom: -32px;
    width: 10%;
    
    font-family: sans-serif;
    border: 3px solid #6D56BA;
    border-radius: 100%;
}

.orange .number h1{
    margin-bottom: -32px;
    width: 10%;
    
    font-family: sans-serif;
    border: 3px solid #FD951F;
    border-radius: 100%;
}
.green .number h1{
    margin-bottom: -32px;
    width: 10%;
    
    font-family: sans-serif;
    border: 3px solid #04D361;
    border-radius: 100%;
}
.green button{
    width: 50%;
    margin-top: 33px;
    padding: 14px;
    border-radius: 0 13px 0 13px;
    background-color: #04D361;
    border: none;
    cursor: pointer;
    color: #000000;
    transition: 0.3s;
}
.green button:hover{
    background-color: rgba(255, 228, 196, 0);
    border: 3px solid #04D361;
    color: #ffffff;
}
.purple:hover{
    cursor: pointer;
    margin-top: -22px;
    border: 3px solid #6D56BA;
}
.orange:hover{
    cursor: pointer;
    margin-top: -22px;
    border: 3px solid #FD951F;
}