<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/conteudo.css">
        <title>Skylab</title>
    </head>

    <body>
        <header>
            <img src="https://skylab.rocketseat.com.br/static/media/logo.0ae02df1.svg" alt="Logo da rocketseat">
            <div class="links">
                <div class="profile">
                    <div class="data">
                        <h2>João Pedro</h2>
                        <p>email@email.com</p>
                    </div>
                    <div class="imgUser">
                        <img src="https://avatars1.githubusercontent.com/u/58999202?s=460&u=450f987552a42e720e85d49e9226122f824cf1bb&v=4" alt="Foto do usuario">
                    </div>
                </div>
            </div>
        </header>
        {% block content %}
        {% endblock content %}
    </body>

</html>